.main_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.covering {
  width: 91.4%;
  height: 64px;
  border: 1px solid #27272780;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.search_side {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #e6e6e6;
  padding: 10px;
  width: 100%;
}

.written {
  border: none;
  width: 80%;
  color: rgb(125, 125, 125);
  font-family: PP Neue Montreal;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-align: left;
  height: inherit;
  background-color: #e6e6e6;
  margin-left: 8px;
}

.hr {
  height: 42px;
  /*width: 0.1px;*/
  border: 0.2px solid rgb(0, 0, 0);
}

.talent_side {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 10rem;
  margin-right: 24px;
}

.talent {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(39, 39, 39);
  border-radius: 160px;
  padding: 10px;
  gap: 10px;
  color: rgb(39, 39, 39);
  font-family: "PP Neue Montreal";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
  cursor: pointer;
  height: 20px;
  width: 100px;
}

@media (min-width: 425px) {
  .input_cover {
    width: 389px;
  }

  .talent {
    padding: 10px 15px;
  }
}

@media (min-width: 765px) {
  .input_cover {
    width: 725px;
    height: 88px;
    box-sizing: border-box;
    border: 1px solid rgb(39, 39, 39);
    border-radius: 56px;
    background: rgb(255, 255, 255);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    justify-content: space-between;
  }

  .search_side {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .written {
    outline: none;
    border: none;
    width: inherit;
    color: rgb(125, 125, 125);
    font-family: PP Neue Montreal;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    text-align: left;
    height: inherit;
    background-color: #e6e6e6;
    margin-left: 48px;
  }

  .hr {
    height: 42px;
    border: 0.2px solid rgb(0, 0, 0);
  }

  .talent_side {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    width: 20rem;
  }

  .talent {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
  }

  .heroCtnMain {
    gap: 40px;
  }
}

@media (min-width: 1024px) {
  .heroCtnMain {
    gap: 50px;
  }

  .input_cover {
    width: 950px;
    height: 88px;
  }

  .talent {
    padding: 15px 50px;
  }
}
