@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    box-sizing: border-box;
    width: 100vw;
    font-family: "Epilogue", sans-serif;
    /*overflow-x: scroll;*/
    letter-spacing: 1px;
}

.container {
    background-color: #2b2b2b;
    color: #D6DDEB;
    width: 100vw;
    box-sizing: border-box;
    font-family: "Epilogue", sans-serif;
    box-sizing: border-box;
}


.inner_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    width: min-content;
    padding: 0px 10px;
    margin: 0 auto;
    justify-content: space-between;

}


.outer_container {
    margin: 0 auto;
    width: fit-content;
    text-align: left;
    padding: 36px 0px 0;
}

.logo_images {
    display: flex;
    align-items: center;
    gap: 11px;

}

.logo {
    color: #D6DDEB;
}

.logo_text {
    width: 270px;
    font-size: 16px;
    line-height: 25.6px;
    padding-top: 34.5px;
}

.footer_links {
    display: grid;
    grid-template-areas:
        "about about"
        "resource resource"
        "notification notification";
    justify-content: left;
    align-items: start;
    width: fit-content;
    column-gap: 0rem;
    row-gap: 1rem;
    margin-top: 40px;
}

.footer_links>div {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer_links>div>.h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
    line-height: 26.6px;
    padding-bottom: 16px;
    text-decoration: none;
}


.notification .h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 19px;
    line-height: 26.6px;
    padding-bottom: 4px;
    text-decoration: none;
}


.footer_links>div>.links {
    list-style: none;
    text-align: left;
    line-height: 22.4px;
    font-weight: 400;
    font-size: 16px;
    color: #D6DDEB;
    text-decoration: none;
    padding: 8px 0;
}


.latest_jobs {
    width: 256px;
    padding-top: 20px;
    padding-bottom: 32px;
    font-size: 16px;
    font-weight: normal;
    line-height: 25.6px;
}

.input_container {
    position: relative;
    display: inline-flex;
    flex-direction: row;
}

.footer_input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}



.input_container>input {
    width: 118px;
    height: 44px;
    font-family: "Epilogue", sans-serif;
    border-radius: 8px;
    border: none;
    padding-left: 40px;

}


.input_container>img {
    position: absolute;
    top: .85rem;
    left: .7rem;
}

.bottom {
    margin: 80px auto 0;
    width: 315px;

}

.foot_note {
    display: flex;
    flex-direction: column-reverse;
    padding: 24px 0 36px;
    align-items: center;
    justify-content: space-between;
    line-height: 16.8px;
    font-size: 12px;
}

.social_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-bottom: 24px;

}

.social_links>.socials {
    border: none;
    border-radius: 50%;
    background-color: rgba(97, 96, 96, 0.2);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    grid-area: about;
}

.resource {
    grid-area: resource;
    padding: 32px 0;
}

.notification {
    grid-area: notification;
    display: flex;
    width: fit-content;
    align-items: start;
    flex-direction: column;
}

@media screen and (min-width: 321px) {

    .bottom {
        width: 100%;
    }
}

@media screen and (min-width: 500px) {
    .input_container>input {
        width: 196px;
        padding-left: 46px;
    }

    .resource {
        padding: 0;
    }

    .logo_text {
        width: 376px;
    }
}

@media screen and (min-width: 768px) {

    .logo_text {
        width: 560px;
    }

    .inner_container {
        /* display: flex; */
        /* flex-direction: column; */
        gap: 16px;
        width: 676px;
        align-items: start;
        margin: 0 auto;
        justify-content: space-between;

    }


    .footer_links {
        display: grid;
        grid-template-areas:
            "about resource"
            "notification notification";
        justify-content: left;
        align-items: start;
        width: 436px;
        gap: 2rem;
        justify-content: space-between;
    }

    .about {
        grid-area: "about";
    }

    .resource {
        grid-area: "resource";
    }

    .notification {
        grid-area: "notification";
    }

    .outer_container {
        margin: 0 auto;
        width: 700px;
        text-align: left;
        padding-top: 64px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 100%;
    }

    .foot_note {
        display: flex;
        flex-direction: row;
        padding: 24px 0 36px;
        align-items: center;
        justify-content: space-around;
        line-height: 16.8px;
        font-size: 12px;
    }


    .outer_container {
        margin: 0 auto;
        width: 90%;
        text-align: left;
    }

    .inner_container {
        margin: 64px auto;
        width: auto;
        flex-direction: row;
        gap: 2rem;
        align-items: start;
        padding: 0;
        justify-content: space-between;

    }

    .footer_links {
        grid-template-areas:
            "about resource notification"
            "about resource notification";
        justify-content: center;
        align-items: start;
        width: fit-content;
        gap: 5rem;
        margin: 0;
    }


    .input_container>input {
        width: 234px;
        height: 44px;
        font-family: "Epilogue", sans-serif;
        border-radius: 8px;
        border: none;

    }

    .input_container>input::placeholder {
        /*padding-left: 2.4rem;*/

    }

    .input_container>img {
        position: absolute;
        top: .85rem;
        left: 1rem;
    }

    .logo_text {
        width: 376px;
    }

    .footer_links>div>.links {
        padding: 16px 0;
    }

    .footer_links>div>.h3 {
        padding-bottom: 20px;
    }

    .latest_jobs {
        padding: 36px 0;
    }


    .bottom {
        margin: 138px 0 0;
    }

    .footer_input {
        flex-direction: column;
    }
}

@media (width > 1130px) {
    .footer_input {
        flex-direction: row;
    }
}