@import url(https://fonts.cdnfonts.com/css/pp-neue-montreal);

* {
  font-family: "PP Neue Montreal";
}

.big_container {
  background-color: #fcfdff;
  overflow-x: hidden;
}

.container {
  width: fit-content;
  margin: 2rem auto;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.overall {
  overflow: hidden;
}

.content {
  width: 100%;
  margin: 0 auto;
  container-type: normal;
}

.filter {
  display: none;
}

.list {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
}

.list p {
  width: 124px;
  height: 41px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  color: #545a62;
  line-height: 19.6px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.listing {
  border: 1px solid #d9d9d9;
  font-family: "PP Neue Montreal";
  width: 144.67px;
  height: 41px;
  border-radius: 8px;
  color: #545a62;
  font-weight: 500;
  font-size: 14px;
  line-height: 19.6px;
}

.listing:hover {
  background-color: #272727;
  color: #fec200;
}

.active_list {
  background-color: #272727;
  color: #fec200;
}

.nav_btn {
  background-color: #2b2b2b;
  padding: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list p:hover,
.list p:active,
.list p:focus {
  background-color: #272727;
  color: #fec200;
}

.text {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #85868d;
  font-size: 16px;
  line-height: 32.2px;
  padding-top: 16px;
  width: fit-content;
}

.text hr {
  height: 23px;
  border: none;
  outline: 1px solid black;
}

.text span {
  color: #000;
}

.number {
  font-weight: 500;
  font-size: 14px;
  line-height: 19.6px;
}

.all_cards {
  /* width: max-content; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10px;
  padding-left: 16px;
}

@media screen and (min-width: 500px) {
  .all_cards {
    display: grid;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 12px;

    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .list p {
    width: 144.67px;
    height: 41px;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    color: #545a62;
    line-height: 19.6px;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #85868d;
    font-size: 23px;
    line-height: 32.2px;
    padding-top: 16px;
  }

  .all_cards {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 850px) {
  .all_cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .filter {
    display: block;
  }

  .nav_btn {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .all_cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
