.TagContainer {
    border-radius: 26px;
    border: black 1px solid;
    display: inline-flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
    font-family: PP Neue Montreal;
    font-size: 16px;
    padding: 7px;
    cursor: pointer;
    margin: 4px;
}

.TagContainer:hover {
    background: #ffc400;
}

.tagActive {
    background: #ffebaa;
}