@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 90px auto;
    padding: 0 9px;
    width: 100%;
}

.headerBtn {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.Btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 74%;
    gap: 10px;
    align-items: center;
}

.header {
    color: rgb(179, 179, 181);
    font-family: PP Neue Montreal;
    font-size: 19px;
    font-weight: 500;
    line-height: 140%;
    /*letter-spacing: 0%;*/
    text-align: left;
    cursor: pointer;
}

.header:hover {
    color: black;
    border-bottom: solid 2px black;
    cursor: pointer;

}

.edit {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 160px;
    padding: 10px 13px;
    gap: 3px;
    background: #FFFFFF;

    color: rgb(39, 39, 39);
    font-family: PP Neue Montreal;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-align: center;
}

.edit:hover {
    box-sizing: border-box;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
    border-radius: 160px;

}

.edit:active {
    box-sizing: border-box;
    border: 1px solid rgb(19, 19, 19);
    border-radius: 160px;

    background: rgb(254, 194, 0);
}

.EstimateCont {
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    width: 100%;
    align-items: flex-start;
}

.Estimate {
    display: inline-flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    gap: 5px;
    border-radius: 12.61px;
    background: rgba(3, 168, 98, 0.15);
    padding: 10px;
}

.EstiActiveCont {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    align-items: stretch;
}

.earnText {
    color: rgb(121, 121, 121);
    font-family: PP Neue Montreal;
    font-size: 12.61px;
    font-weight: 400;
    line-height: 15px;
    /*letter-spacing: 0%;*/
    text-align: left;
}

.earnValue {
    color: rgb(6, 6, 6);
    font-family: Satoshi;
    font-size: 25.22px;
    font-weight: 400;
    line-height: 34px;
    /*letter-spacing: 1%;*/
    text-align: left;
}

.earnValue span {
    font-size: 14.61px;
}

.increaseText {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    color: rgb(6, 6, 6);
    font-family: Satoshi;
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    cursor: pointer;
    width: 50%;
    justify-content: flex-start;
}

.timeFrame {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: rgb(6, 6, 6);
    font-family: Satoshi;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    cursor: pointer;
}

.ProfileCont {
    display: none;
}

.applicationStatus::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
}

.applicationStatus::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
    border-radius: 20px; /* Rounded corners for the scrollbar thumb */
}

.applicationStatus::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
    border-radius: 20px; /* Rounded corners for the scrollbar track */
}

.JobCtn {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    overflow-x: auto;
}

.JobHeader {
    box-sizing: border-box;
    border: 1px solid rgb(181, 182, 186);
    /*border-radius: 8px;*/
    padding: 10px;
    gap: 10px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 658px;
    position: relative;
}

.JobHeaderCtn1 {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.JobText {
    /* Body/Large/500 */
    color: rgb(24, 25, 28);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
}

.JobPriceCtn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.JobExp {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.JobExp1 {
    color: rgb(85, 65, 0);
    font-family: Neue Montreal;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    text-align: left;
    text-transform: capitalize;
    padding: 5px;
    border-radius: 86.88px;
    background: rgb(255, 235, 170);

}

.JobExp2 {
    color: rgb(85, 65, 0);
    font-family: PP Neue Montreal;
    font-size: 9px;
    font-weight: 400;
    line-height: 9px;
    letter-spacing: 1px;
    text-align: left;
    border-radius: 86.88px;
    background: rgb(255, 235, 170);
    text-transform: capitalize;
    padding: 3px;

}

.JobPrice1 {
    color: rgb(118, 127, 140);
    font-family: 'Inter';
    font-size: 9px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.JobApplicant1 {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: rgb(30, 30, 30);
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}

.JobHeaderCtn2 {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    /*gap: 5px;*/

}


/*.popUp {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 82px;*/
    /*z-index: 100;*/
/*    width: 124px;*/
/*    background: rgb(39, 39, 39);*/
/*    border-radius: 4px;*/
/*    color: white;*/

/*    text-align: left;*/
/*}*/

/*li.popList {*/
/*    padding: 4px 4px 4px 8px;*/
/*    text-align: left;*/
/*    border-radius: 4px;*/
/*}*/

.popList:hover {
    background: rgb(255, 196, 0);
    color: rgb(39, 39, 39);

}

.popUp {
    width: 124px;
        background: rgb(39, 39, 39);
        border-radius: 4px;
        color: white;
    padding: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    font-family: PP Neue Montreal;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 1px;
}

.popList {
    list-style: none;
    padding: 8px 12px;
    margin: 0;
    cursor: pointer;
    width: 124px;

}



.ActiveProject {
    margin: 20px 0;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.ActiveProjectText {
    color: rgb(0, 0, 0);
    font-family: Outfit;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.05px;
    letter-spacing: -0.36px;
    text-align: left;
}

.ActiveProjectSpan {
    color: rgb(149, 149, 149);
    font-family: Outfit;
    font-size: 10px;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
}

.ActiveProjectCont {
    width: 100%;
}

.ActiveProjectBtn {
    cursor: pointer;
    color: rgb(254, 194, 0);
    font-family: PP Neue Montreal;
    font-size: 10px;
    font-weight: 400;
    line-height: 20.05px;
    letter-spacing: 0;
    text-align: left;
    border-radius: 160px;
    background: rgb(39, 39, 39);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 4px;
}

.JobHeaderCtnMiddle {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.JobExp3 {
    color: rgb(26, 147, 46);
    font-family: PP Neue Montreal;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-align: left;
    padding: 4px 8px;
    border-radius: 20px;
    background: rgba(26, 147, 46, 0.18);
}

.JobPrice2 {
    /* body 3 */
    color: rgb(118, 127, 140);
    font-family: PP Neue Montreal;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
}

.JobApplicant2 {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: rgb(149, 151, 157);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
}


/*@media (min-width: 375px) {*/
/*    .Btn {*/
/*        display: inline-flex;*/
/*        flex-direction: row;*/
/*        justify-content: flex-start;*/
/*        !*width: 0;*!*/
/*        gap: 35px;*/
/*    }*/

/*}*/
/*@media (min-width: 425px) {*/
/*    .JobHeader {*/
/*        width: 397px;*/
/*    }*/
/*}*/
.graph2 {
    width: 300px;
}

@media (min-width: 765px) {
    .graph2 {
        width: 400px;
    }

    .ActiveProject {
        margin: 20px 0;
        display: inline-flex;
        flex-direction: row;
        align-content: center;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .ActiveProjectText {
        color: rgb(0, 0, 0);
        font-family: Outfit;
        font-size: 22px;
        font-weight: 400;
        line-height: 20.05px;
        letter-spacing: -0.36px;
        text-align: left;
    }

    .ActiveProjectSpan {
        color: rgb(149, 149, 149);
        font-family: Outfit;
        font-size: 14px;
        font-weight: 300;
        line-height: 120%;
        letter-spacing: 0px;
        text-align: left;
    }

    .ActiveProjectBtn {
        color: rgb(254, 194, 0);
        font-family: PP Neue Montreal;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.05px;
        letter-spacing: 0;
        text-align: left;
        border-radius: 160px;
        background: rgb(39, 39, 39);
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 10px;
    }

    .headerBtn {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;

    }


    .JobText {
        font-size: 18px;
    }

    .JobExp1, .JobExp2 {
        font-size: 12px;
        padding: 5px;
    }

    .JobApplicant1 {
        display: none;
    }

    .JobPrice1 {
        display: none;
    }

    .JobPrice2 {
        color: rgb(118, 127, 140);
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0;
        text-align: left;
        display: block;
    }

    .JobHeader {
        padding: 10px;
        gap: 5px;
        /*width: 694px;*/
        height: 86px;
        width: 100%;
        align-items: center;
    }


    .JobExp2 {
        display: none;
    }


    .JobHeaderCtnMiddle {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .container {
        margin: 130px 0 30px 113px;
        transition: margin-left 0.3s ease;
    }

    .ProfileCont {
        display: none;
    }

    .container.shifted {
        margin-left: 240px; /* Width of the sidebar */
    }

    .EstimateCont {
        margin-top: 30px;
        display: inline-flex;
        flex-direction: row;
        gap: 15px;
        padding: 20px;
        text-align: center;
        width: 100%;
        align-items: flex-start;
    }

    .Estimate {
        width: 300px;
        padding: 15px;
        gap: 8px;
    }

    .timeFrame {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
        color: rgb(6, 6, 6);
        font-family: Satoshi;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
        cursor: pointer;
        /*width: 50%;*/
        justify-content: flex-start;
    }

    .popUp {
        /*right: 0;*/
        /*top: 60px;*/
    }
}


@media (min-width: 1024px) {
    .popUp {
        /*right: -110px;*/
        /*top: 30px;*/
    }

    .JobHeader {
        padding: 10px;
        gap: 5px;
        width: 721px;
        height: 86px;
    }

    .overview {
        display: inline-flex;
        flex-direction: row;
        align-items: stretch;
        width: 1000px;
        gap: 7%;
        justify-content: space-between;
    }

    .container.shifted {
        margin-left: 240px; /* Width of the sidebar */
    }

    .ProfileCont {
        display: inline-flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
        align-items: flex-start;
    }

    .container {
        max-width: 1024px;
        width: 86%;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 150px 2px 37px 120px;
        transition: margin-left 0.3s ease;
    }

    .ActiveProjectCont {
        width: 80%;
    }


}

@media (min-width: 1280px) {
    .ActiveProjectCont {
        width: 100%;
    }

    .overview {
        display: inline-flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        /*gap: 100px;*/
        justify-content: space-between;
    }

    .container.shifted {
        margin-left: 300px; /* Width of the sidebar */
    }

    .profileEdit {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        padding: 20px 30px 20px;
        width: 280px;
        height: 199px;
        background: rgb(39, 39, 39);
        justify-content: space-between;
    }

    .applicationStatus {
        margin-top: 10px;
        padding: 20px 10px;
        box-sizing: border-box;
        border: 1px solid rgb(229, 229, 229);
        border-radius: 20px;
        height: 578px;
        overflow: auto;
        width: 340px;

    }


    .container {
        max-width: 1280px;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        transition: margin-left 0.3s ease;
        margin: 150px 2px 37px 200px;
    }
}

@screen (min-width: 1440px) {


    .container {
        max-width: 1440px;
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 70px 2px 37px 200px;
        transition: margin-left 0.3s ease;
    }


}