@import url(https://fonts.cdnfonts.com/css/pp-neue-montreal);

.InputLabel {
    font-family: 'PP Neue Montreal', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.6px;
    text-align: left;
}

.InputError {
    box-sizing: border-box;
    font-family: 'PP Neue Montreal', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-align: left;
    color: red;
}

.storybook-input {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 400;
    color: black;
    outline: none;
    font-family: PP Neue Montreal;
    line-height: 140%;
    letter-spacing: 0.6px;
    text-align: left;
    width: 530px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
}

.storybook-input:focus {
    border: 1px solid rgb(39, 39, 39);
    border-radius: 8px;
    background: rgb(254, 194, 0);
    color: black;
}

.storybook-input--small {
    width: 260px;
    height: 44px;
    padding: 0 10px;
}

.storybook-input--medium {
    width: 504px;
    height: 44px;
    padding: 0 15px;
}

/*.storybook-input--large {*/
/*    width: 530px;*/
/*    height: 44px;*/
/*    padding: 0 20px;*/
/*}*/

.storybook-input--error {
    box-sizing: border-box;
    border: 1px solid rgb(216, 73, 16);
    border-radius: 8px;
    background: rgb(255, 235, 170);
}

.storybook-input--disabled {
    cursor: not-allowed;
    color: rgb(217, 217, 217);
    box-sizing: border-box;
    /* primary color/6001 */
    border: 1px solid rgb(217, 217, 217);
    border-radius: 8px;
    background: white;

}

.storybook-input--disabled::placeholder {
    color: rgb(217, 217, 217);
}

.InputLabel--small {
    font-size: 16px;
    line-height: 30px;
}

.InputLabel--medium {
    font-size: 16px;
    line-height: 35px;
}

.InputLabel--large {
    font-size: 16px;
}

.error {
    color: red;
}

.disabled {
    color: rgb(217, 217, 217);
    cursor: not-allowed;
}

.default {
    color: rgb(24, 24, 24);
}

.focused {
    color: rgb(254, 194, 0);
}

.container {
    height: 44px;
    width: 260px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
}

.dropicon {
    width: 20px;
    height: 20px;
    left: 66px;
    top: 12px;
    /* margin-top: 8px; */
    position: absolute;
}

.dropdownList {
    border: 1px #f2f2f2 solid;
    font-family: 'PP Neue Montreal', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50px;
    width: 90px;
    border-radius: 8px;
    background: white;
    overflow-y: scroll;
    max-height: 112px; /* Adjust as needed */
}

/* Custom scrollbar styles */
.dropdownList::-webkit-scrollbar {
    width: 4px;
}

.dropdownList::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.dropdownList::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

.dropdownList::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.listItem {
    list-style: none;
    border: 1px #f2f2f2 solid;
    padding: 4px;
    text-align: center;

    font-size: 11px;
    color: #6D8494;
    cursor: pointer;
}

.listItem:hover {
    background: #dfdfdf;
}


@media (min-width: 765px) {
    .storybook-input {
        width: 508px;
        height: 44px;
        padding: 0 15px;
    }

    .container {
        width: 508px;
        height: 44px;
    }

}

@media (min-width: 1024px) {
    .storybook-input {
        width: 530px;
        height: 44px;
        padding: 0 20px;
    }

    .container {
        width: 530px;
        height: 44px;
    }
}
