@import url(https://fonts.cdnfonts.com/css/pp-neue-montreal);

* {
  font-family: PP Neue Montreal;
}

.container {
  max-width: 300px;
  width: 100%;
  font-family: PP Neue Montreal;
  color: #404145;
  padding-left: 10px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: PP Neue Montreal;
  font-weight: 500;
}

.image_holder {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #e4e5e7;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background: none;
}

.staring {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 16px 0 4px 0;
}

.period {
  padding-left: 10px;
}

.helpful {
  display: flex;
  align-items: center;
  gap: 8px;
}

.star_number {
  font-size: 14px;
  color: #ffb33e;
  line-height: 21px;
  padding-left: 3px;
  padding-right: 10px;
}

.seller {
  padding: 18px 0 14px 44px;
}

.seller_image {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.seller_image img {
  object-fit: contain;
  width: 20px;
}

.seller_profile {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 665px;
    width: 100%;
  }

  .holding {
    padding-left: 17px;
  }
}
