.container {
    /*margin-top: 3rem;*/
    margin-bottom: 5rem;
    text-align: left;
    background-color: #FCFDFF;
    color: #181818;
    font-family: PP Neue Montreal;
}

.container_two {
    /*margin: 5rem 0 0rem 0;*/
    text-align: left;
    background-color: #FCFDFF;
    color: #181818;
    font-family: PP Neue Montreal;
    width: 100%;
}


.contain {
    /*width: max-content;*/
    margin: 0px auto;
    /* border: 2px solid red; */

}

.holder {
    width: auto;
    /*margin: 0 auto;*/
    padding: 24px 16px;
}

.holder_two {
    /* padding: 8px 12px 8px 8px; */
    /*width: max-content;*/
    /*margin: 0 auto;*/
    padding: 24px 16px;
    /* border: 3px solid yellow; */
}

.holder div {
    /*padding: 4px 0px 3px 0px;*/
}

.names {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;

}

.names div {
    width: 100%;
}

.label {
    display: block;
}

.avatar {
    margin-bottom: -10px;
}

.avatar_container {
    padding-bottom: 20px;
    /* border: 3px solid gold; */
    width: max-content;
}


.secondary {
    font-size: 14px;
    opacity: 60%;
    color: #1e1e1e;
    font-family: PP Neue Montreal;
    letter-spacing: .32px;
    border-radius: 8px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 8px 0;
}


.data {
    font-size: 14px;
    opacity: 60%;
    color: #1e1e1e;
    font-family: PP Neue Montreal;
    letter-spacing: .32px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    background-color: rgb(255, 255, 255);
    height: 44px;
}


.data:focus {
    background-color: #fec200;
    opacity: 1;
    color: #1e1e1e;
    border-radius: 8px;
    border: 1px solid black;


}

.inner_container {

    position: relative;
    width: 16.2rem;

}

.img2 {
    position: absolute;
    top: 2rem;
    right: 20px;
}


.img3 {
    position: absolute;
    top: 2rem;
    right: 20px;
}

.img1 {
    position: absolute;
    top: 2rem;
    right: 20px;
}


.lists {
    padding-left: 10px;
}

.lists:hover {
    background-color: black;
    color: white;
}

.specified_data {
    padding: 0 8px;
}

.specified_data:focus {
    background-color: #fec200;
}

.edit {
    width: 220px;
    background-color: #2b2b2b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 160px;
    padding: 16px;
    margin-top: 30px;
    letter-spacing: 0.32px;
    text-align: center;
}

.edit:hover {
    box-sizing: border-box;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 160px;
    color: black;
    /* secondary color/6001 */
    background: rgb(254, 194, 0);
}

.edit:active {
    box-sizing: border-box;
    border: 1px solid rgb(254, 194, 0);
    border-radius: 160px;
    color: white;
    /* primary color/11001 */
    background: rgb(43, 43, 43);
}

.edit_holder {
    margin: 0rem auto;
    width: fit-content;
}

.edit_holder_two {
    margin: 2rem auto;
    width: fit-content;
}

.main_container {
    object-fit: cover;
    min-width: 72px;
}

.main_container img {
    width: 100%;
}

.avatar_selection {
    display: flex;
    align-items: center;
    gap: 8px;
}

.thumbnail {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: max-content;
    gap: 5px;
}

label ~ input {
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    padding: 0 16px;
    border-radius: 8px;
    height: 40px;
}

.thumbnail img {
    width: 32px;
}


.phone_cover {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.phone {
    border: 1px solid #d9d9d9;
    border-radius: 8px 0px 0px 8px;
    display: flex;
    position: relative;
    width: 20%;
    text-align: center;
    align-items: center;
    font-size: 14px;
    opacity: 60%;
    color: #1e1e1e;
    font-family: PP Neue Montreal;
    letter-spacing: .32px;
    padding: 0px 8px;
    background-color: rgb(255, 255, 255);
    height: 39px;
}

.img4 {
    position: absolute;
    right: 3px;
    top: 20px;
}

.phone_number {
    text-align: left;
    padding-left: .6rem;
    width: 100%;
    font-size: 14px;
    font-family: PP Neue Montreal;
    color: #1E1E1E;

}


.scroll {
    position: absolute;
    top: 5.5rem;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0px 0px 0px 1px #2b2b2b;
    padding: 12px;
    /* right: 0px; */

}

.scroll_container {
    position: relative;
    width: max-content;
}

.scn_container {
    /* background-color: #181818; */
    padding: 0;
    /* inset: 60px; */
}

.number_input {
    height: 44px;
    border: 1px solid #d9d9d9;
    border-radius: 0px 8px 8px 0px;
    padding-left: 2rem;
    width: 90%;
}

.number_input:focus {
    border: 1px solid #272727;
    background-color: #fec200;
}


.ph_cover {
    width: 11rem;
}

.PublicCtn, .PersonalCtn {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
    width: 100%;
}

.topCtn, .midCtn, .bottomCtn, .PersonaltopCtn {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.topUserNametext {
    /* body medium */
    color: rgb(124, 132, 147);
    font-family: PP Neue Montreal;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
}

.topUserNameSubtext {
    color: rgb(37, 50, 75);
    font-family: PP Neue Montreal;
    font-size: 19px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
}

.topUserStatusBtn1 {
    border-radius: 26.43px;
    background: rgb(255, 235, 170);
    color: rgb(39, 39, 39);
    font-family: PP Neue Montreal;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.topUserStatusBtn2 {
    color: rgb(0, 122, 255);
    font-family: PP Neue Montreal;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 26.43px;
    gap: 5px;
    width: 100%;
    background: rgba(0, 122, 255, 0.15);
}

.topCtn {
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
}

.topUserStatusBtn {
    display: inline-flex;
    flex-direction: row;
    gap: 10px;
}

.topAvatar img {
    border: 4px solid rgb(255, 243, 204);
    border-radius: 92.99px;
}

.topUserCtn {
    gap: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.midSubtext {
    margin: 8px 0;
    color: rgb(37, 50, 75);
    font-family: PP Neue Montreal;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
}

.profileTags {
    box-sizing: border-box;
    border: 1.32px solid rgb(39, 39, 39);
    border-radius: 26.43px;
    background: rgb(255, 235, 170);
    color: rgb(39, 39, 39);
    font-family: PP Neue Montreal;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0;
    text-align: left;
    padding: 5px 10px;
}

.profileTagsCtn {
    display: inline-flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    margin: 8px 0;

}

.bottomCtn {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.PersonaltopUserName {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.PersonaltopUserNametext {
    color: rgb(124, 132, 147);
    font-family: PP Neue Montreal;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
}

.PersonaltopUserNameSubtext {
    /* Type@19 medium */
    color: rgb(37, 50, 75);
    font-family: PP Neue Montreal;
    font-size: 19px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
}


.PersonaltopUserCtn {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15px;
    justify-content: space-between;
    width: 100%;
}

.PersonaltopUserCtn2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.PersonalVerifyText {
    color: rgb(27, 27, 27);
    font-family: PP Neue Montreal;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 4px 0;
}

.PersonalVerifySubText {
    color: rgb(113, 114, 121);
    font-family: PP Neue Montreal;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
    text-align: left;
}

.PersonalVerifyDoc {
    border-radius: 4px;
    background: rgb(255, 243, 204);
    opacity: 0.7;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: rgb(39, 39, 39);
    gap: 10px;
    font-family: PP Neue Montreal;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0;
    text-align: center;
    padding: 8px;
    margin: 8px 0;

}

.continue {
    text-align: center;
}

.PersonaltopCtnMain {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.PersonalVerifyCtn {
    margin-bottom: 10px;
}

.LangLabel {
    font-family: 'PP Neue Montreal', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.6px;
    text-align: left;
}

.profileLinks {
    font-size: 19px;
    color: #007aff;
    margin-bottom: 5px;
    font-family: "PP Neue Montreal";
    font-weight: 400;
    cursor: pointer;
}

@media screen and (min-width: 765px) {
    .continue {
        text-align: right;
    }


    .PersonaltopCtnMain {
        display: inline-flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        gap: 15px;
    }

    .midSubtext {
        font-size: 19px;
    }

    .bottomIntrests {
        width: 70%;
    }

    .PublicCtn, .PersonalCtn {
        display: inline-flex;
        flex-direction: column;
        gap: 30px;
        align-items: stretch;
        width: 100%;
    }


    .topCtn, .midCtn, .bottomCtn, .PersonaltopCtn {
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid rgb(217, 217, 217);
        border-radius: 8px;

        background: rgb(255, 255, 255);
    }

    .bottomCtn {
        display: inline-flex;
        flex-direction: row;
        gap: 15px;
        align-items: flex-start;
    }

    .edit_holder {
        margin-top: 40px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .ph_cover {
        width: 100%;
    }

    .container {
        padding-left: 27px;
    }

    .avatar_selection {

        gap: 16px;
    }

    .holder {
        width: 497px;
        padding-top: 1rem;
    }

    .inner_container {

        width: 100%;

    }

    .scroll_container {
        width: 100%;
    }

}

@media screen and (min-width: 1024px) {

    .holder {
        width: 530px;
        /*margin-left: 200px;*/
        /*padding-top: 3rem;*/
    }

    .PersonaltopUserCtn2 {

    }

    .number_input {
        height: 45px;
        border: 1px solid #d9d9d9;
        width: 395px;
        margin-top: .5px;
    }

    .edit_holder {
        margin-top: 40px;
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }


}