@import url(https://fonts.cdnfonts.com/css/pp-neue-montreal);

* {
  font-family: PP Neue Montreal;
}

.container {
  text-align: left;
  background-color: #fff;
  border-radius: 8px;
  /* border: 1px solid #1414140D; */
  box-shadow: 0px 1px 2px 0px #00000008;
  padding: 16px;
  min-width: 274px;
  width: 320px;
}

.main_skill {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.time_frame {
  display: flex;
  justify-content: space-between;
  width: 234px;
  gap: 6px;
  align-items: center;
  width: max-content;
}

.skill_set {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
}

.spacing {
  width: 2px;
  height: 2px;
  padding: 0;
  background-color: #141414b2;
  opacity: 70%;
}

.image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100%;
}

.label {
  font-size: 14px;
  word-break: keep-all;
  letter-spacing: 0.5px;
  color: #141414b2;
}

.time {
  display: flex;
  align-items: center;
  gap: 2px;
}

.company {
  color: #141414;
  font-size: 14px;
  line-height: 19.6px;
}

.to_hide {
  display: flex;
}

.prof {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  font-size: 19px;
  font-weight: 500;
  line-height: 26.6px;
  color: #141414;
  margin-right: 12px;
}

.new {
  border-radius: 3px;
  padding: 2px 6px;
  background-color: #fff3cc;
  color: #454545;
  line-height: 16.8px;
  font-size: 12px;
  width: 61px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hr {
  padding: 0;
  height: 24px;
  border: 1px solid #d6ddeb;
  margin: 0;
}

.each_skill {
  background-color: #fffbaa;
  padding: 3px 12px;
  border-radius: 160px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #272727;
  color: rgb(39, 39, 39);
  font-family: PP Neue Montreal;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  /* width: 43px; */
}

.one_skill {
  padding: 2px 5px;
  border-radius: 160px;
  background-color: #f7f7f7;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #272727;
  color: rgb(39, 39, 39);
  font-family: PP Neue Montreal;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  min-width: max-content;
}

.hold_skills {
  cursor: auto;
  /*padding-left:34px ;*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  /*width: 200px;*/
  /*overflow-x: scroll;*/
}

.last_text {
  color: #141414;
  font-size: 12px;
  line-height: 16.8px;
  opacity: 70%;
}

@media (min-width: 768px) {
  .container {
    width: 280px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 274px;
  }
}
