@import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css');


/*.sb-show-main.sb-main-padded {*/
/*    margin: 0; !important;*/
/*    padding: 0; !important;*/
/*    box-sizing: border-box; !important;*/
/*}*/
.sidebar {
    width: 80px;
    height: 100%;
    position: fixed;
    z-index: 2; /*Matthew placed this z-index to ensure the specificity of the settings component*/
    top: 0;
    left: 0;
    transition: all .3s ease;
    background-color: #252525;
    color: #7d7d7d;
    padding: 15px 0 15px 0;
    z-index: 101;
}

.Link {
    text-decoration: none;
    color: #7d7d7d;
}

.logo {
    padding: 10px;
    text-align: center;
}

.sidebarOpen {
    width: 220px;
    transition: all .3s ease;
    z-index: 1000;
}

.usertypeOpen {
    color: rgb(241, 241, 241);
    font-family: Satoshi;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    margin-bottom: 5px;
}

.usertypeClose {
    color: rgb(241, 241, 241);
    font-family: Satoshi;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    margin-bottom: 5px;
}

.toggleBtnOpen {
    border: none;
    color: #000000;
    cursor: pointer;
    margin-bottom: 0;
    margin-left: 197px;
    z-index: 1000;
    transition: all .3s ease;
    border-radius: 50%;
    display: inline-flex;
    padding: 10px;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    /*border-radius: 17px;*/
    box-shadow: 3px 5px 7px 3px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}


.toggleBtnClose {
    border: none;
    color: #000000;
    cursor: pointer;
    margin-bottom: 0;
    margin-left: 58px;
    z-index: 1000;
    transition: all .3s ease;
    border-radius: 50%;
    display: inline-flex;
    padding: 10px;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    /*border-radius: 17px;*/
    box-shadow: 3px 5px 7px 3px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}


.upperSideBar {
    transition: all .3s ease;
    list-style-type: none;
    /*gap: 10px;*/
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    font-family: "PP Neue Montreal";
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 80px 0;
    border-bottom: 1px solid rgb(125, 125, 125);
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    letter-spacing: 1.5px;
}

li {
    display: inline-flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    transition: all .3s ease;
    cursor: pointer;
}

.deskTabIcon:hover, .deskTabIcon:active {
    color: #000000;
    background-color: #fec200;
    border-left: 2px solid #060606;
    flex-direction: column;
    width: 99%;
    align-items: center;
}

a {
    color: rgb(125, 125, 125);
}

.dodo {
    display: inline-flex;
    width: 90%;
    gap: 10px;
    padding: 13px 0 13px 10px;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: row;
    /*padding-bottom: 8px;*/
}

.dodom {
    gap: 40px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.mobileIcon:hover {
    color: #fec200;
    border-left: 2px solid #fec200;

}

.mobileIcon {
    padding: 10px 0;

}

i {
    height: 19px;
    font-size: 20px;
}

.lowerSideBar {
    list-style-type: none;
    padding: 0;
    /*gap: 10px;*/
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    font-family: "PP Neue Montreal";
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    letter-spacing: 1.5px;

}

.tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #252525;
    color: #fec200;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    left: 115px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 14px;
    font-family: "PP Neue Montreal";
    letter-spacing: 1px;

}

.dodom:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.upperNav {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    /* border */
    border-bottom: 1px solid rgb(217, 217, 217);
    background: rgb(252, 253, 255);
    padding: 10px;
    gap: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.sidebar {
    display: none;
}

.navSerch {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 55px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);
    background: rgb(255, 255, 255);
    width: 166px;
    height: 40px;
    padding: 13px 10px 13px 13px;
}

.navSerch input:focus-within {
    outline: none;
}

.navSerch input {
    border: none;
    /* body 3 */
    color: rgba(6, 6, 6, 0.4);
    font-family: PP Neue Montreal;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    width: 113px;
    height: 17px;
}

.Userbtn {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 24px;
    background: rgb(37, 37, 37);
    padding: 4px;
    cursor: pointer;
}

.userName {
    display: none;
}

.lastCont {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.profile {
    position: absolute;
    top: 83px;
    display: block;
    right: 6px;
}


.deskTabIcon.active {
    color: #000000;
    background-color: #fec200;
    border-left: 2px solid #060606;
    flex-direction: column;
    width: 99%;
    align-items: center;
}

.mobileIcon.active {
    color: #fec200;
    border-left: 2px solid #fec200;
}


.active {
    transition: background-color 0.3s, color 0.3s;
}


@media (min-width: 760px) {
    .upperSideBar {
        padding: 0 0 260px 0;
    }

    .profile {
        position: absolute;
        top: 100px;
        display: block;
        right: 20px;
    }


    .sidebar {
        display: block;
    }

    .navSerch {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        border: 1px solid rgb(151, 151, 151);
        border-radius: 55px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);
        background: rgb(255, 255, 255);
        width: 373px;
        height: 48px;
        padding: 13px 10px 13px 13px;
    }

    .navSerch input {
        border: none;
        width: 363px;
        height: 40px;
        color: rgba(6, 6, 6, 0.4);
        font-family: PP Neue Montreal;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        border-radius: 55px;
    }

    .userName {
        display: block;
        color: #fec200;
        font-family: PP Neue Montreal;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
    }

    .Userbtn {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        border-radius: 24px;
        background: rgb(37, 37, 37);
        padding: 4px;
        gap: 5px;
    }

    .lastCont {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    .menuIcon {
        display: none;
    }
}

@media (min-width: 1024px) {
    /*.profile {*/
    /*    display: none;*/
    /*}*/
    .upperSideBar {
        padding: 0 0 250px 0;
    }

    .navSerch {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        border: 1px solid rgb(151, 151, 151);
        border-radius: 55px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.02);
        background: rgb(255, 255, 255);
        width: 543px;
        height: 48px;
        padding: 13px 10px 13px 13px;
        gap: 10px;
    }

    .navSerch input {
        border: none;
        width: 500px;
        height: 40px;
        color: rgba(6, 6, 6, 0.4);
        font-family: PP Neue Montreal;
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
        letter-spacing: 1px;
        border-radius: 55px;
    }

    .userName {
        display: block;
        color: #fec200;
        font-family: PP Neue Montreal;
        font-size: 16px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
    }

    .Userbtn {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        border-radius: 24px;
        background: rgb(37, 37, 37);
        padding: 8px;
        gap: 10px;
    }

    .lastCont {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    .upperNav {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid rgb(217, 217, 217);
        background: rgb(252, 253, 255);
        padding: 20px;
        gap: 8px;
    }

    .menuIcon {
        display: none;
    }

}


