.container {
    margin-top: 100px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
}

.headerText {
    color: rgb(24, 24, 24);
    font-family: PP Neue Montreal;
    font-size: 33px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}

.lowerText {
    margin-top: 16px;
    font-family: PP Neue Montreal;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.8px;
    text-align: center;
}

.makeYellow {
    color: rgb(254, 194, 0);
    cursor: pointer;
}

.btn {
    margin-top: 32px;
    text-align: center;
}

.RadioCont {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.ThirdPartiesAuthContainer {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.orText {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    border: none;
    align-items: center;
    margin: 10px 0;
}

.orText hr {
    border: 0;
    width: 100%;
    height: 1px;
    background-color: #5b5656;
}

.orText span {
    color: rgb(24, 24, 24);
    font-family: PP Neue Montreal;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 3px;
}

.stage2Cont {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    width: 100%;
    align-items: center;
    margin-bottom: 30px;

}

.upperForm {
    display: inline-flex;
    flex-direction: column;
}

.formContainer {
    margin-bottom: 15px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.Stage2lowerText {
    margin-top: 20px;
    display: inline-flex;
    width: 100%;
    color: rgb(24, 24, 24);
    font-family: PP Neue Montreal;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.6px;
    text-align: left;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-between;
    flex-direction: row;
}

.checkBoxtext {
    width: 100%;
}

.checkBoxtext span {
    text-decoration: underline 1px solid rgb(254, 194, 0);
}


@media (min-width: 768px) {
    .ThirdPartiesAuthContainer {
        display: inline-flex;
        flex-direction: row;
        gap: 30px;
    }

    .Stage2lowerText {
        font-size: 16px;
    }

    .stage2Cont {
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
        max-width: 530px;
        width: 100%;
        align-items: center;

    }

    .RadioCont {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .container {
        margin-top: 172px;
    }

    .headerText {
        margin-bottom: 41px;
        font-size: 36px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -1px;
    }


    .btn {
        margin-top: 42px;
    }

}


@media (min-width: 1024px) {
    .container {
        margin-top: 200px;
    }

    .headerText {
        margin-bottom: 48px;
        font-size: 36px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: -1px;
    }

    .btn {
        margin-top: 46px;
    }


    .stage2Cont {
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
        max-width: 574px;
        width: 100%;
        align-items: center;

    }
}