.otpContainer {
    display: flex;
    gap: 10px;
    justify-content: center;
}


.otpInput {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 8px;
    outline: none;
    font-family: 'PP Neue Montreal', 'sans-serif';
    transition: border-color 0.2s, background-color 0.2s;
}

.otpInput:focus {
    border-color: rgb(39, 39, 39);
    background-color: rgb(254, 194, 0);
}

.otpInput.error {
    border-color: rgb(216, 73, 16);
    background-color: rgb(255, 235, 170);
}


.InputError {
    box-sizing: border-box;
    font-family: 'PP Neue Montreal', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.8px;
    text-align: left;
    color: red;
}

.InputLabel {
    font-size: 16px;
    line-height: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 675px) {
    .otpInput {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }

}
