@import url(https://fonts.cdnfonts.com/css/pp-neue-montreal);

* {
  font-family: "PP Neue Montreal";
}

.cover_up {
  background-color: #fcfdff;
  position: relative;
  overflow-x: hidden;
}

.container {
  margin: 0rem auto;
  padding: 2rem 0;
  overflow-x: hidden;
}

.profile_heading {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 1.5rem auto;
}

.profile_image {
  width: 51px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_image img {
  width: 50px;
  height: 50px;
}

.profile_info {
  text-align: left;
  height: max-content;
}

.title {
  font-size: 14px;
  font-weight: 500;
  font-family: PP Neue Montreal;
  color: #18191c;
  margin-left: 0;
  letter-spacing: 0;
}

.profile_ctn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.send {
  border: 1px solid black;
  border-radius: 160px;
  color: black;
  background-color: white;
  width: 137px;
  padding: 16px;
  cursor: pointer;
  display: none;
}

.order {
  border: 1px solid #2b2b2b;
  border-radius: 160px;
  color: white;
  background-color: #2b2b2b;
  width: 117px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  word-break: keep-all;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.icon {
  width: 40px;
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.talents {
  background-color: #272727;
  box-shadow: 0px 4px 8px 0px #00000026;
  width: 132px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  position: absolute;
  right: 3px;
  top: 6.5rem;
  height: 60px;
  padding: 8px;
  font-family: "PP Neue Montreal";
  z-index: 999;
}

.save,
.report {
  border-radius: 4px;
}

.save:hover,
.report:hover {
  background-color: #fec200;
}

.save:hover .save_talent,
.report:hover .report_talent {
  color: #272727;
}

.save_talent,
.report_talent {
  width: 116px;
  text-align: center;
  background: none;
  border-radius: 4px;
  border: none;
  font-size: 10px;
  color: #d9d9d9;
  line-height: 24px;
}

.options {
  border: none;
  background: none;
  cursor: pointer;
}

.text {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 1px;
}

.text p {
  margin: 0;
  border: 3px solid red;
}

.name {
  color: #474c54;
  font-size: 14px;
  font-family: PP Neue Montreal;
}

.text p:nth-child(2) {
  color: #d4a200;
  background-color: #fff3cc;
  border: 1px solid #d4a200;
  border-radius: 160px;
  /* padding: 4px 8px; */
  font-size: 12px;
  font-family: PP Neue Montreal;
  line-height: 16.8px;
  height: 24px;
  width: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#full,
#sponsored,
#verified {
  display: none;
}

.text p:nth-child(3) {
  color: #18955f;
  background-color: #18955f33;
  border: 1px solid #18955f80;
  border-radius: 160px;
  /* padding: 4px 8px; */
  font-size: 12px;
  font-family: PP Neue Montreal;
  line-height: 16.8px;
  height: 24px;
  width: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text p:nth-child(4) {
  color: #007aff;
  background-color: #007aff40;
  border: 1px solid #007aff;
  border-radius: 160px;
  /* padding: 4px 8px; */
  font-size: 12px;
  font-family: PP Neue Montreal;
  line-height: 16.8px;
  width: 76px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.overview_container {
  border: 1px solid #ececec;
  width: 382px;
  text-align: left;
  padding: 24px 24px 32px 24px;
  border-radius: 8px;
  background-color: #ffffff;
}

.overview {
  display: grid;
  row-gap: 24px;
  width: fit-content;
  grid-template-columns: repeat(3, 1fr);
}

.view {
  max-width: 144px;
  width: 100%;
  text-align: left;
}

.over_text {
  color: #18191c;
  font-weight: 500;
  font-size: 18px;
  font-family: "inter";
  line-height: 28px;
  padding: 8px 0px 24px 0px;
}

div.view p:nth-child(2) {
  font-family: PP Neue Montreal;
  padding: 8px 0;
  font-size: 12px;
  color: #767f8c;
  line-height: 16.8px;
}

div.view p:nth-child(3),
.nmb {
  font-size: 16px;
  font-weight: 500;
  font-family: PP Neue Montreal;
  color: #18191c;
  line-height: 22.4px;
}

.rate_ctn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ececec;
  padding: 8px;
  border-radius: 8px;
  background-color: #ffffff;
  gap: 8px;
  width: 290px;
  text-align: center;
  margin: 0px auto 24px;
}

.rate_ctn hr {
  width: 2px;
  background-color: #ececec;
  border: none;
  outline: none;
  height: 81px;
}

.rate_ctn .rtn {
  line-height: 16.8px;
  color: #7d7d7d;
  font-size: 12px;
}

.hr {
  height: 81px;
  width: px;
  border: 1px solid #ececec;
}
.rate_ctn .mny {
  color: #272727;
  font-size: 14px;
  line-height: 26.6px;
  font-weight: 500;
  padding: 0px 0px;
  min-width: max-content;
}

.skill {
  background-color: #fffbaa;
  margin: 0;
  padding: 3px 12px;
  border-radius: 160px;
  /* display: inline-flex; */
  justify-content: center;
  align-items: center;
  border: 1px solid #272727;
  color: rgb(39, 39, 39);
  font-family: "PP Neue Montreal";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  max-width: 43px;
}

.sk_set {
  padding: 3px 10px;
  border-radius: 160px;
  background-color: #f7f7f7;
  border: 1px solid #272727;
  color: rgb(39, 39, 39);
  font-family: PP Neue Montreal;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  min-width: max-content;
  text-align: center;
}
.slider {
  padding: 0 5px;
}
.first_side {
  width: fit-content;
  margin: 0 auto;
}

.second_side {
  width: fit-content;
  margin: 0 auto;
}
.hold_skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
  padding-top: 4px;
}

.skill_ctn {
  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: min-content;
  margin: 0 auto;
  padding: 0;
  /* margin-right: 0; */
  /* padding: 0 2px; */
}

.desc {
  width: 290px;
  background-color: white;
  border: 1px solid #ececec;
  padding: 8px;
  border-radius: 8px;
  text-align: left;
  margin: 20px auto;
}

.desc h2 {
  color: #18191c;
  font-size: 19px;
  font-weight: 500;
  line-height: 26.6px;
  padding-bottom: 11px;
}

.desc_words {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: start;
}

.desc_words .passage {
  color: #5e6670;
  font-size: 16px;
  line-height: 22.4px;
  font-family: PP Neue Montreal;
  width: 100%;
  margin: 0;
}

.resume {
  width: 280px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  text-align: left;
}

.resume h2 {
  font-size: 19px;
  font-weight: 500;
  line-height: 26.6px;
  color: #272727;
  padding-bottom: 4px;
}

.resume_upload {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.recommend {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 100px 20px 44px;
  width: 100%;
}

.recommended {
  margin: 2rem auto;
  width: 300px;
  overflow-x: hidden;
  background-color: #fafafa;
  text-align: left;
  border: 1px solid #e4e5e7;
}

.recommended h1 {
  color: #404145;
  font-size: 24px;
  line-height: 31.2px;
  padding: 35px 30px 0px;
  font-weight: 500;
}

.review {
  padding-bottom: 40px;
  width: fit-content;
}

.responseDiv {
  border: 1px solid #dadbdd;
  padding: 45px 0px;
  border-left: none;
  border-right: none;
  /* margin-top: 40px; */
  width: fit-content;
}

div.responseDivTwo {
  border: none;
  padding: 45px 0px;

  width: fit-content;
}

.below {
  width: 360px;
  margin: 2rem auto;
}

@media screen and (width >= 425px) {
  .rate_ctn {
    width: 380px;
  }
  .desc {
    width: 380px;
  }
  .resume {
    width: 380px;
  }
  .recommended {
    width: 410px;
  }
  .hold_skill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 8px;
  }
}

@media screen and (width > 500px) {
  .order {
    border: 1px solid #2b2b2b;
    border-radius: 160px;
    color: white;
    background-color: #2b2b2b;
    width: 137px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
  }
}

@media screen and (width > 609px) {
  .rate_ctn {
    padding: 14px;
    gap: 14px;
    width: 545px;
  }
  .resume {
    width: 545px;
  }
  .recommended {
    width: 592px;
  }
  .desc {
    width: 545px;
    padding: 24px;
  }

  .below {
    width: 600px;
  }
  .rate_ctn .mny {
    color: #272727;
    font-size: 19px;
    line-height: 26.6px;
    font-weight: 500;
    padding: 8px 0px;
  }
}

@media screen and (min-width: 748px) {
  .profile_image {
    width: 80.77px;
    height: 80px;
  }

  .sk_set {
    padding: 3px 10px;
    border-radius: 160px;
    background-color: #f7f7f7;
    border: 1px solid #272727;
    color: rgb(39, 39, 39);
    font-family: PP Neue Montreal;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
  }

  .profile_image img {
    width: 80px;
    height: 80px;
  }

  .skill {
    background-color: #fffbaa;
    padding: 3px 12px;
    border-radius: 160px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #272727;
    color: rgb(39, 39, 39);
    font-family: "PP Neue Montreal";
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    min-width: 43px;
  }
  .profile_ctn {
    gap: 16px;
  }
  .second_side {
    width: 590px;
    margin: 0 auto;
  }

  .title {
    font-size: 19px;
    line-height: 26.6px;
  }

  .name {
    color: #474c54;
    font-size: 16px;
    line-height: 26.6px;
    font-family: PP Neue Montreal;
  }

  .send {
    display: block;
  }

  .icon {
    display: none;
  }

  .text {
    padding-top: 10px;
  }

  .profile_heading {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
  }

  /* .desc {
    width: 100%;
  } */

  .rate_ctn {
    width: 520px;
  }

  .resume {
    width: 500px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #ececec;
    background-color: #ffffff;
  }

  .recommended {
    margin: 2rem auto;
    width: 530px;
    overflow-x: hidden;
    border: 1px solid #e4e5e7;
  }

  .rate_ctn hr {
    width: 2px;
    background-color: #ececec;
    border: none;
    outline: none;
    height: 81px;
  }

  .rate_ctn .rtn {
    line-height: 22.4px;
    color: #7d7d7d;
    font-size: 16px;
  }

  .rate_ctn .mny {
    color: #272727;
    font-size: 19px;
    line-height: 26.6px;
    font-weight: 500;
    padding: 8px 0px;
  }

  .below {
    width: 620px;
    margin: 2rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .profile_ctn {
    gap: 39px;
  }

  .title {
    font-size: 23px;
  }

  .name {
    font-size: 19px;
  }
  .slider {
    padding: 0 22px;
  }
  .desc {
    width: 530px;
    background-color: white;
    border: 1px solid #ececec;
    padding: 24px;
    border-radius: 8px;
    text-align: left;
    margin: 32px auto 0;
  }
  /* .text p:nth-child(2) {
    display: block;
  }

  .text p:nth-child(3) {
    display: block;
  } */

  .rate_ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ececec;
    padding: 24px;
    border-radius: 8px;
    background-color: #ffffff;
    gap: 24px;
    width: 480px;
    text-align: center;
    /* margin: 0px auto 24px; */
    margin-left: 0;
  }
  .below {
    width: 596px;
    margin-left: 0;
  }
  #full,
  #sponsored,
  #verified {
    display: flex;
  }
  .first_side {
    width: 597px;
    margin: 0 auto;
  }
  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
  }

  .container {
    width: 1200px;
  }
}
