@import url(https://fonts.cdnfonts.com/css/pp-neue-montreal);

* {
  font-family: PP Neue Montreal;
}

.container {
  width: 372px;
  padding-left: 10px;
}

.text {
  color: #18191c;
  font-weight: 500;
  font-size: 19px;
  line-height: 26px;
  margin: 0;
  text-align: left;
  padding-bottom: 8px;
}

.inner {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #18191c;
}

.inner p {
  padding: 8px 0;
}

.staring {
  display: flex;
  color: #ffb33e;
  font-size: 13px;
}

.staring p {
  padding-left: 0.3rem;
}

.first,
.second,
.third,
.fourth,
.fifth {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 16px;
  color: #446ee7;
  width: 85%;
}

.star {
  padding: 14px 16px;
}

.first label:nth-child(3),
.second label:nth-child(3),
.third label:nth-child(3),
.fourth label:nth-child(3),
.fifth label:nth-child(3) {
  justify-self: center;
}

progress {
  width: 170px;
  height: 8px;
  border: none;
  border-radius: 999px;
}

progress::-webkit-progress-bar {
  background-color: #e4e5e7;
  border-radius: 999px;
}

progress::-webkit-progress-value {
  background-color: #ffb33e;
  border-radius: 999px;
}

@media screen and (width > 425px) {
  .first,
  .second,
  .third,
  .fourth,
  .fifth {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 16px;
    color: #446ee7;
    width: 100%;
  }

  .star {
    padding: 14px 16px;
  }

  progress {
    width: 200px;
    height: 8px;
    border: none;
    border-radius: 999px;
  }
  .inner {
    display: flex;
    align-items: center;
    gap: 3rem;
    color: #18191c;
  }
}
