* {
    font-family: PP Neue Montreal;
}


.input:checked:checked + .checkmark {
    background-color: #FEC200;
}

.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

}

p#paymenttype2 {
    width: 200px;
}


.radiobtn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    /*padding: 5px;*/
    text-align: justify;
    /* height: 27px; */
    /*width: 100%;*/
    justify-content: flex-start;
}

.checkmark {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* margin-left: 2rem; */
    outline: 2px solid #FEC200;
    outline-offset: 5px;
}

.value {
    font-size: 14px;
    color: #424242;
    line-height: 16.24px;
    letter-spacing: 0;
}

@media (min-width: 765px) {
    .checkmark {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        /* margin-left: 2rem; */
        outline: 2px solid #FEC200;
        outline-offset: 5px;
    }

    .value {
        font-size: 16px;
        color: #424242;
        line-height: 16.24px;
    }


    .radiobtn {
        display: inline-flex;
        align-items: center;
        gap: 15px;
        padding: 8px;
        /* height: 27px; */
        /*width: 100%;*/
        justify-content: center;
    }
}