.RadioText {
    color: rgb(24, 24, 24);
    font-family: PP Neue Montreal;
    font-size: 19px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.3px;
    text-align: left;
}

.Radio {
    position: absolute;
    top: 6px;
    height: 20px;
    width: 20px;
    right: 6px;
}

.RadioContainer {
    position: relative;
    max-width: 270.78px;
    display: inline-flex;
    box-sizing: border-box;
    border: 2px solid rgb(217, 217, 217);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.textCont {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.RadioContainerSelected {
    border-color: rgb(254, 194, 0);
}

.Icon {
    margin-bottom: 20px;
}


.RadioSelected {
    background-color: rgb(254, 194, 0);
    border: 1px solid rgb(254, 194, 0);
}

@media (min-width: 768px) {
    .RadioContainer {
        max-width: 300.78px;
        width: 111%;
    }

    .Icon {
        margin-bottom: 25px;
    }

}


