@import url(https://fonts.cdnfonts.com/css/pp-neue-montreal);
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --font-primary-land-family: IBM Plex Sans;
    --font-primary-family: PP Neue Montreal;
    --font-secondary-family: DM Sans;
}

a {
    text-decoration: none;
}

html,
body {
    margin: 0;
    font-family: var(--font-primary-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: var(--font-primary-family);
}

::-webkit-scrollbar {

    width: 4px; /* Width of the vertical scrollbar */
    height: 4px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(148, 147, 147); /* Color of the scrollbar thumb */
    border-radius: 20px; /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-track {
    background-color: rgb(3, 3, 3); /* Color of the scrollbar track */
    border-radius: 20px; /* Rounded corners for the scrollbar track */
}